{% extends 'base.html' %} {% block content %} {% load static %}
<link
  rel="stylesheet"
  type="text/css"
  href="{% static 'css/main/product_detail_page.css'%}"
/>

<!-- 코드 작성시, 아래 부분(endblock 이전)은 전체 삭제하고 작성하세요 -->

<!----------------tip!---------------->
<!-- 상품 데이터베이스는 프로젝트에 넣어뒀어요 -->
<!-- 아래와 같은 형식으로 사용하세요 -->

<!-- 데이터 사용 예시 -->
<div class="body-container">
  <div class="body">
    <div class="product-intro">
      <img class="product-img" src="/static/assets/images/maenggu.png" />
      <div class="Frame31">
        <div class="Frame39">
          <p class="product-tag">샛별배송</p>
          <p class="product-detail-name">{{product.name}}</p>
          <div class="product-detail-discount">
            <p class="product-detail-discountrate">
              {{product.discount_rate}}%
            </p>
            <p class="product-detail-discountprice">
              {{product.discount_price}} 원
            </p>
          </div>
          <div class="line"></div>
          <div class="Frame-product-info">
            <div class="product-select">안내사항</div>
            <p class="product-detail-notice">{{product.notice}}</p>
          </div>
          <div class="line"></div>
          <div class="Frame-product-choose">
            <div class="product-select">상품 선택</div>
            <div class="set-count">
              <div class="small-product-detail-name">{{product.name}}</div>
              <div class="counter">
                <button class="minus-btn">-</button>
                <span class="quantity">1</span>
                <button class="plus-btn">+</button>
              </div>
            </div>
          </div>
          <div class="line"></div>
        </div>
        <div class="Frame38">
          <div class="total-column">
            <div class="total-row">
              <div class="총상품금액">총 상품 금액:</div>
              <div class="total-prize"></div>
            </div>
          </div>
          <div class="login-button">
            <div class="login">로그인</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 데이터 사용 예시 -->

<script src="{% static 'js/main/product_detail_page.js'%}"></script>
<div class="screen">
  <div
    style="
      width: 1050px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 20px 0px;
    "
  >
    <!-- 여기에 후기를 작성하는 폼을 만들어주세요! -->

    <form action="create_comment/" method="POST">
      {% csrf_token %}
      <label for="product-comment">상품 후기</label>
      <input id="text_area" type="textarea" name="content" />
      <select class="product-comment" name="star">
        <option value="별점" selected>별점</option>
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <button type="submit">
        <input id="button_click" type="submit" value="등록" disabled />
      </button>
    </form>

    {% for comment in comments %}
    <div
      style="
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding: 20px 8px;
        border-bottom: solid 1px #d9d9d9;
      "
    >
      <div style="display: flex; justify-content: space-between">
        <p>평점:{{comment.star}}</p>
        <a href="{% url 'main:delete_comment' comment.id %}">삭제</a>
      </div>
      <p class="B1">{{comment.content}}</p>
    </div>
    {% endfor%}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const disableBtn = document.getElementById("button_click");
    const text = document.getElementById("text_area");

    text.addEventListener("input", (event) => {
      if (text.value.trim().length > 0) {
        disableBtn.disabled = false;
        disableBtn.style.backgroundColor = "#5e0080";
        disableBtn.style.color = "white";
      } else {
        disableBtn.disabled = true;
        disableBtn.style.backgroundColor = "#dddddd";
      }
    });
  });
</script>
{% endblock %}
